<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../">MockingBird</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="../index">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="../contact">About Us</a>
      <a class="nav-item nav-link" href="../register">Register</a>
      <a class="nav-item nav-link" href="../login">Login</a>
      <!--<a class="nav-item nav-link disabled" href="#">Disabled</a>-->
    </div>
  </div>
</nav>
