<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script href="assets/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include partials/_Layout.ejs %>
    <h1>Contact us!</h1>
    <p class="text-left text-lowercase">Thanks for getting in touch with us!<%= data.name%>
       is not here yet tho!</p>

  </body>
</html>
