<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script href="assets/bootstrap/js/bootstrap.min.js"></script>
    <link href="/assets/css/gen_styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/_Layout.ejs %>
    <h1>About Us</h1>
    <p class="text-left text-lowercase"></p>
    <p>Just four college students trying to make a cool project!</p>
    <p>Group Members</p>
    <ul>
      <ol>Abhimanyu Lakhotia</ol>
      <ol>Ben Yerino</ol>
      <ol>Keegan Lange</ol>
      <ol>Ryan Baird</ol>
    </ul>
  </body>
</html>
