<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_Scripts.ejs %>
    <link href="/assets/css/imageresult.css" rel="stylesheet">
  </head>
  <body>
    <% include partials/_Layout.ejs %>
    <div class="row">
    <% for(var i = 0; i < images.length; i++){ %>
      <div class="col-md-4">
        <div class="card">
          <img src=<%= "data:" + images[i].img.contentType +";base64,"+images[i].img.data.toString('base64')%> />
            <div class="card-block">
              <h4 class="card-title"><%= viewNames[i]%></h4>
              <p class="card-text"><%= descripts[i]%></p>
              <a href="#" class="btn btn-primary">More Information</a>
            </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
