<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_Scripts.ejs %>
    <!--<script src="/assets/js/index.js"></script>-->
  </head>
  <body>
    <% include partials/_Layout.ejs %>
    <p class="jumbo-text">Upload Your images!</p>
    <div class="form-group">
    <form id="frmUploader" enctype="multipart/form-data" action="index" method="post">
        <input type="file" name="imgUploader" multiple />
        <input type="submit" name="submit" id="btnSubmit" value="Upload" /> </form>
    </div>
  </body>
</html>
