<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_Scripts.ejs %>
  </head>
  <body>
    <% include partials/_Layout.ejs %>
    <p class="jumbo-text">Login</p>
    <div class="form-group">
    <form id="loginor" action="/login" method="post">
        <label for="UserName">UserName</label>
        <input type="text" name="username" placeholder="Enter a Username" required/> 
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <div class="clearfix">
          <button type="submit" class="signupbtn">Sign Up</button>
        </div>`
    </form>
    </div>
  </body>
</html>
