<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <!--  Output dynamic data needs <%= %> -->
  <!--  Output javascript needs <% %> -->
  <body>
    <% include partials/_Layout.ejs %>
    <h1>Welcome to the Profile of <%= id %></h1>
    <p class="text-left text-lowercase">Age: <%= data.age%> and job: <%=data.job %></p>
    <h2>Hobbies</h2>
    <ul>
      <% data.hobbies.forEach(function(item){ %>
        <li><%= item %></li>
      <% }); %>
    </ul>
    <div class="form-group">
      <label for="inputFile">File input</label>
      <input type="file" id="inputFile">
      <p class="help-block">Choose an image to show to Watson.</p>
    </div>
  </body>
</html>
