a {
  color: #e3e3e3;
  text-decoration: none;
}

h1 {
  font-family: helvetica, Arial, sans-serif;
  /*text-align: center;*/
}

body {
  background-color: #65f16f;
}

div {
  width: 500px;
  margin: auto;
  background-color: #e3e3e3;
}

li:nth-child(2){
  color: orange;
}

.blue{
  color: blue;
}
.para.para {
  font-size: 18px;
  font-stretch: ultra-condensed;
  color: #9765f1;
  margin-left: 40px;
  border-style: inset;
  padding-left: 75px;
}

.test_gen_para_layout {
  background-color: #f165dc;
  border-style: groove;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 35px;
  margin-bottom: 27px;
  padding-left: 80px;
  height: 135%;
  max-width: 500px;
  width: 50%;
}
/*drupal cms open source templates*/
